.card {
  flex: 1;
  border: 1px solid black;
  padding: 2rem;

  > {
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 17px;
      text-transform: capitalize;
    }
  }

  .body {
    margin-top: 13px;
    color: rgba(0, 0, 0, 0.41);
    text-align: justify;
  }
}
